*,
*::after,
*::before {
    box-sizing: border-box;
}
.form {
    margin-bottom: 46px;
    padding-left: 60px;
}

.label {
    position: relative;
    padding: 8px 0 8px 60px;
    color: #283645;
    font-size: 18px;
    line-height: 30px;
}
.label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}
.label::after {
    content: "";
    display: none;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
}
